<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/favorites.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (favorites.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="favorites">
                    <% favorites.forEach(favorite => { %>
                        <li class="favorites__item">
                            <h1>Favorite - # <%= favorite._id %> - <a href="/favorites/<%= favorite._id %>">Invoice</a></h1>
                            <ul class="favorites__movies">
                                <% favorite.movies.forEach(p => { %>
                                    <li class="favorites__movies-item"><%= p.movie.title %> (<%= p.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>